:root {
  --max-width: 1100px;
  /* --border-radius: 12px; */
  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  /* --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135; */
  background-color: grey;
  margin: 1%;
}
.heading{
text-align: center;
}
.animationheader::before{
  content:  '         ';
  /* opacity: 100%; */

  animation: animation infinite 15s;
  color: grey;
  /* padding-left: 10px; */
  text-align: center;
justify-content: center;
}

@keyframes animation {
 
    /* content: "Welcome, Please select a language before you continue."; */

    /* content: "Willkommen, bitte wählen Sie eine Sprache aus, bevor Sie fortfahren."; */

 0%{
  color: grey;

  content: "Welcome, Please select a language before you continue.";
  color: black;
 }
 25%{
  color: grey;
  content: "       ";
  color: grey; }
 50%{
  color: grey;

  content: "Willkommen, bitte wählen Sie eine Sprache aus, bevor Sie fortfahren.";
  color: black;

 }
 75%{
  color: grey;
  content: "        ";
  color: grey; }

}

.Button{
  border-color: red;
  border-style: solid;
  color:black;
  flex-basis: 5%;
  padding: 1%;
  margin: 1%;
}
/* -------------------FOOTER */
.footer-div{
  max-width: 50%;
  /* background-color: rgb(80, 80, 80); */
  /* background-color:inherit; */

  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-wrap: nowrap;
  font-size:smaller;
  /* padding:1% */
}
.footer-div-mid{
  padding:1%;

  flex-basis: 25%;
}
.footer-div-mid-a{
  color: black
}


.header-heading{
  border-style:solid ;
  border-bottom-color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  /* justify-content: left; */
  border-width: 0.5px;

padding-left: 5%;
padding-bottom: 5%;
padding-top: 2%;

}
.comson{
  border-style:solid ;
  border-color: white;
  /* justify-content: left; */
  border-width: 0.5px;

/* padding-left: 2%; */
}
.mainflex{
  display: flex;
flex-wrap: nowrap;
/* flex-direction: column; */
/* flex-direction:; */
}
.left-box{
  flex-basis: 25%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: white;
    border-style: solid;
  padding: 1%;
  text-align: center;
  border-width: 0.5px;

}


.right-box{
  flex-basis: 75%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
    border-width: 0.5px;
  border-style: solid;
  padding: 1%;
  text-align: center;
}
a{
  color:black;
  
  /* border */
}
.leftbox{
  /* width: 25%; */
  /* flex-basis: 25%; */
  border-color: white;
  border-style: solid;
  padding-left: 1%;
  text-align: left;
  /* text-align: center; */
  border-width: 0.5px;

}
@media only screen and (max-width: 500px) {
  .footer-div{
    max-width: 50%;
    /* background-color: rgb(80, 80, 80); */
    background-color:inherit;
  
    margin-left:0%;
    margin-right: 0.5%;
    display: flex;
    flex-wrap: nowrap;
    font-size:smaller
  }
  .footer-div-mid{
    flex-basis: 25%;
    padding:1%;

    /* color:grey */
  }
  .footer-div-mid-a{
    color: black
  }
  .mainflex{
    display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* flex-direction:; */
  }
  .left-box{
    flex-basis: 25%;
    border-bottom-color: white;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
      border-style: solid;
    padding: 1%;
    text-align: center;
    border-width: 0.5px;
  
  }
  
  
  .right-box{
    flex-basis: 75%;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
      border-width: 0.5px;
    border-style: solid;
    padding: 1%;
    text-align: center;
  }
}

.dateundnews{
  display: flex;
}
.news{
  flex-basis: 90%;
}
.date{
  /* text-align: end; */
  /* -ms-flex-align: end */
  flex-basis: 10%;
  margin-right: 1%;
}